Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

Найдите сумму квадратов элементов этого словаря.

In [12]:
a = {
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

sum = 0

for value in a.values():
    sum += value ** 2
print(sum)

30

Дана строка:

'abcde'
Получите список букв этой строки.

In [13]:
str = 'abcde'
a = [s for s in str]
print(a)

['a', 'b', 'c', 'd', 'e']

Дано некоторое число:

12345
Получите список цифр этого числа.

In [14]:
del str
num = 12345
str_num = str(num)
a = [s for s in str_num]
print(a)

['1', '2', '3', '4', '5']

Дано некоторое число:

12345
Переверните его:

54321

In [18]:
num = 12345
str_num = str(num)
str_num = str_num[::-1]
print(str_num)

54321

Дано некоторое число:

12345
Найдите сумму цифр этого числа.

In [20]:
a = 12345
sum = 0
a_str = str(a)
for i in a_str:
    sum += int(i)
print(sum)

15

Дан список с числами:

[1, 2, 3, 4, 5, 6]
Увеличьте каждое число из списка на 10 процентов.

In [24]:
a = [1, 2, 3, 4, 5, 6]
b = map(lambda x: x + x * 0.1, a)
c = list(b)
print(c)

[1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

Дан словарь с числами:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}
Увеличьте каждое число из словаря в 2 раза:

{
	'a': 2,
	'b': 4,
	'c': 6, 
	'd': 8,
}

In [25]:
a = {
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

def mult(a: dict):
    for key, values in a.items():
        a[key] = values * 2
    return a

print(mult(a))

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

Даны числа, разделенные запятыми:

'12,34,56'
Найдите сумму этих чисел.

In [60]:
string = '12,34,56'
a = string.split(sep = ',')
sum = 0
for i in a:
    sum += int(i)
print(sum)

102

'2025-12-31'
Преобразуйте эту дату в следующий словарь:

{
	'year' : '2025',
	'month': '12',
	'day'  : '31',
}

In [91]:
dic = {}
a = '2025-12-31'
b = a.split(sep = '-')
print(b)
c = ['year', 'month', 'day']
for i in range(len(b)):
    dic[c[i]] = b[i]
print(dic)

['2025', '12', '31']
{'year': '2025', 'month': '12', 'day': '31'}

Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}
Получите список его ключей:

['a', 'b', 'c', 'd']

In [3]:
a = {
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

print(list(a.keys()))

['a', 'b', 'c', 'd']

Дана некоторая строка:

'abcde'
Переведите в верхний регистр все нечетные буквы этой строки. В нашем случае должно получится следующее:

'AbCdE'

In [26]:
string = 'abcde'
string_list = [j for j in string]
counter = 0
for i in string_list:
    if counter % 2 == 0:
        string_list[counter] = i.upper()
    counter += 1
string = ''.join(string_list)
print(string)

AbCdE

Дана некоторая строка со словами:

'aaa bbb ccc'
Сделайте заглавным первый символ каждого слова в этой строке. В нашем случае должно получится следующее:

'Aaa Bbb Ccc'

In [28]:
a = 'aaa bbb ccc'
a_list = a.split(' ')
for i in range(len(a_list)): 
    a_list[i] = a_list[i].capitalize()
a = ' '.join(a_list)
print(a)

Aaa Bbb Ccc

Дана дата в следующем формате:

'2025-12-31'
Преобразуйте эту дату в следующий кортеж:

('31', '12', '2025')

In [29]:
a = '2025-12-31'
a_list = a.split('-')
a_tuple = tuple(a_list)
print(a_tuple)

('2025', '12', '31')

Дана некоторая строка, например, вот такая:

'023m0df0dfg0'
Получите сет позиций всех нулей в этой в строке.

In [31]:
string = '023m0df0dfg0'
set_string = set()
counter = 0
for i in string:
    if i == '0':
        set_string.add(counter)
    counter += 1
print(set_string)

{0, 11, 4, 7}

Дан некоторый список, например, вот такой:

[1, 2, 3, 4, 5, 6]
Поделите сумму элементов, стоящих на четных позициях, на сумму элементов, стоящих на нечетных позициях.

In [34]:
a = [1, 2, 3, 4, 5, 6]
a_chet = 0
a_nechet = 0
for i in a:
    if i % 2 == 0:
        a_chet += i
    else:
        a_nechet += i
        
print(a_chet/a_nechet)

1.3333333333333333

Дана некоторая строка:

'AbCdE'
Смените регистр букв этой строки на противоположный. В нашем случае должно получится следующее:

'aBcDe'

In [ ]:
string = 'AbCdE'
string_list = [i for i in string]
for i in range(len(string_list)):
    string_list[i] = string_list[i].swapcase()
string = ''.join(string_list)
print(string)

aBcDe

Дан некоторый список с числами, например, вот такой:

[1, 2, 3, 4, 5, 6]
Слейте пары элементов вместе:

[12, 34, 56]

In [46]:
a = [1, 2, 3, 4, 5, 6]
new_a = []
for i in range(len(a)-1):
    if i % 2 != 0 or i == 0:
        new_a.append(str(a[i]) + str(a[i+1]))
new_a = map(int, new_a)
a = list(new_a)
print(a)

[12, 23, 45]

Даны две строки:

txt1 = 'abcde'
txt2 = '12345'
Сделайте из этих строк словарь так, чтобы символы первой строки стали ключами, а символы второй строки - значениями:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
	'e': 5,
}

In [ ]:
txt1 = 'abcde'
txt2 = '12345'
txt1_list = [i for i in txt1]
txt2_list = [i for i in txt2]
txt_dict = {}
for i in range(len(txt1_list)):
    txt_dict[txt1_list[i]] = int(txt2_list[i])
print(txt_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

Дан список со строками, содержащими целые числа:

['1', '2', '3', '4', '5']
Найдите сумму элементов этого списка.

In [ ]:
a = ['1', '2', '3', '4', '5']
a_list = map(int, a)
print(sum(a_list))

15

Дан некоторый список, например, вот такой:

[1, 2, 3, 4, 5, 6]
Найдите сумму первой половины элементов этого списка.

In [53]:
a = [1, 2, 3, 4, 5, 6]
a_sum = 0
for i in range(len(a) // 2):
    a_sum += a[i]
print(a_sum)

6

Даны два кортежа:

tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
Объедините эти кортежи в один:

(1, 2, 3, 4, 5, 6)

In [54]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
print(tpl1 + tpl2)

(1, 2, 3, 4, 5, 6)

Даны два словаря:

dct1 = {
	'a': 1,
	'b': 2,
}
dct2 = {
	'c': 3, 
	'd': 4,
}
Объедините эти словари в один:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

In [57]:
dct1 = {
	'a': 1,
	'b': 2,
}
dct2 = {
	'c': 3, 
	'd': 4,
}
dct1.update(dct2)
print(dct1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Дано некоторое слово:

'abcba'
Проверьте, что это слово читается одинаково с любой стороны.

In [60]:
a = 'abcba'
for i in range(len(a) // 2):
    if not (a[i] == a[-i - 1]):
        print(False) 
print(True)

True

Даны два сета:

st1 = {1, 2, 3}
st2 = {4, 5, 6}
Объедините эти сеты в один:

{1, 2, 3, 4, 5, 6}

In [62]:
st1 = {1, 2, 3}
st2 = {4, 5, 6}
st1.update(st2)
print(st1)

{1, 2, 3, 4, 5, 6}

Даны два сета:

st1 = {1, 2, 3, 4, 5}
st2 = {4, 5, 6, 7, 8}
Получите сет элементов, входящих только в один из сетов:

{1, 2, 3, 6, 7, 8}

In [71]:
st1 = {1, 2, 3, 4, 5}
st2 = {4, 5, 6, 7, 8}
print(st1.symmetric_difference(st2))

{1, 2, 3, 6, 7, 8}

Даны два списка:

lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
Получите список их общих элементов:

[4, 5]

In [74]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
set_1 = set(lst1)
set_2 = set(lst2)
print(list(set_1.intersection(set_2)))

[4, 5]

Даны два списка:

lst1 = [1, 2, 3, 4, 5]
lst2 = [1, 2, 3]
Проверьте, что все элементы первого списка есть во втором.

In [76]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [1, 2, 3]
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
set_1 = set(lst1)
set_2 = set(lst2)
if set_1.intersection(set_2): 
    print(True)
else:
    print(False)

True

Даны две строки:

txt1 = '12345'
txt2 = '45678'
Получите символы, которые есть и в одной, и в другой строке:

'45'

In [86]:
txt1 = '12345'
txt2 = '45678'
lst1 = [i for i in txt1]
lst2 = [i for i in txt2]
set_1 = set(lst1)
set_2 = set(lst2)
a = set(set_1.intersection(set_2))
print(''.join(a))

54

Дан список:

[1, 2, 3]
Сделайте так, чтобы в нем каждый элемент повторился два раза:

[1, 1, 2, 2, 3, 3]

In [100]:
a = [1, 2, 3]
for i in range(0, len(a)+2, 2):
    a.insert(i+1, a[i])
print(a)

[1, 1, 2, 2, 3, 3]

Даны два списка:

lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
Переберите эти списки одним циклом и в каждой итерации выводите их элементы следующим образом:

'1,4'
'2,5'
'3,6'

In [104]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
for i in range(len(lst1)):
    print(f"'{lst1[i]}, {lst2[i]}'")

'1, 4'
'2, 5'
'3, 6'

Даны два списка:

lst1 = [1, 2, 3];
lst2 = [1, 2, 3, 4, 5];
Удалите из большего списка лишние элементы с конца так, чтобы длины списков стали одинаковыми.

In [121]:
lst1 = [1, 2, 3]
lst2 = [1, 2, 3, 4, 5]

range_1 = (len(lst2) - len(lst1))

for i in range(range_1):
    lst2.pop()
print(lst2)
print(lst1)
print(lst2 == lst1)

[1, 2, 3]
[1, 2, 3]
True

Дан список с некоторыми числами, например, вот такой:

[123, 456, 789]
Напишите код, который перевернет числа в этом списке по следующему принципу:

[321, 654, 987]

In [122]:
a = [123, 456, 789]

for i in range(len(a)):
    a[i] = int(str(a[i])[::-1])
print(a)

[321, 654, 987]