Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

Найдите сумму квадратов элементов этого словаря.

In [12]:
a = {
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

sum = 0

for value in a.values():
    sum += value ** 2
print(sum)

30

Дана строка:

'abcde'
Получите список букв этой строки.

In [13]:
str = 'abcde'
a = [s for s in str]
print(a)

['a', 'b', 'c', 'd', 'e']

Дано некоторое число:

12345
Получите список цифр этого числа.

In [14]:
del str
num = 12345
str_num = str(num)
a = [s for s in str_num]
print(a)

['1', '2', '3', '4', '5']

Дано некоторое число:

12345
Переверните его:

54321

In [18]:
num = 12345
str_num = str(num)
str_num = str_num[::-1]
print(str_num)

54321

Дано некоторое число:

12345
Найдите сумму цифр этого числа.

In [20]:
a = 12345
sum = 0
a_str = str(a)
for i in a_str:
    sum += int(i)
print(sum)

15

Дан список с числами:

[1, 2, 3, 4, 5, 6]
Увеличьте каждое число из списка на 10 процентов.

In [24]:
a = [1, 2, 3, 4, 5, 6]
b = map(lambda x: x + x * 0.1, a)
c = list(b)
print(c)

[1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

Дан словарь с числами:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}
Увеличьте каждое число из словаря в 2 раза:

{
	'a': 2,
	'b': 4,
	'c': 6, 
	'd': 8,
}

In [25]:
a = {
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}

def mult(a: dict):
    for key, values in a.items():
        a[key] = values * 2
    return a

print(mult(a))

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

Даны числа, разделенные запятыми:

'12,34,56'
Найдите сумму этих чисел.

In [60]:
string = '12,34,56'
a = string.split(sep = ',')
sum = 0
for i in a:
    sum += int(i)
print(sum)

102

'2025-12-31'
Преобразуйте эту дату в следующий словарь:

{
	'year' : '2025',
	'month': '12',
	'day'  : '31',
}

In [91]:
dic = {}
a = '2025-12-31'
b = a.split(sep = '-')
print(b)
c = ['year', 'month', 'day']
for i in range(len(b)):
    dic[c[i]] = b[i]
print(dic)

['2025', '12', '31']
{'year': '2025', 'month': '12', 'day': '31'}

Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3, 
	'd': 4,
}
Получите сет его значений:

{1, 2, 3, 4}