Дан список:

[1, '', 2, 3, '', 5]
Удалите из списка все пустые строки.

In [7]:
a = [1, '', 2, 3, '', 5]
while '' in a:
    a.remove('')
print(a)

[1, 2, 3, 5]

Дан следующий словарь:

dct = {
	1: {
		1: 11,
		2: 12,
		3: 13,
	},
	2: {
		1: 21,
		2: 22,
		3: 23,
	},
	3: {
		1: 24,
		2: 25,
		3: 26,
	},
}
Найдите сумму элементов этого словаря.

In [ ]:
dct = {
	1: {
		1: 11,
		2: 12,
		3: 13,
	},
	2: {
		1: 21,
		2: 22,
		3: 23,
	},
	3: {
		1: 24,
		2: 25,
		3: 26,
	},
}

summa = 0

for values in dct.values():
    for val in values.values():
        summa += val
    
print(summa)

11
12
13
21
22
23
24
25
26
177

Дана следующая структура:

lst = [
	{
		1: 11,
		2: 12,
		3: 13,
	},
	{
		1: 21,
		2: 22,
		3: 23,
	},
	{
		1: 24,
		2: 25,
		3: 26,
	},
];
Найдите сумму элементов этой структуры.

In [21]:
lst = [
	{
		1: 11,
		2: 12,
		3: 13,
	},
	{
		1: 21,
		2: 22,
		3: 23,
	},
	{
		1: 24,
		2: 25,
		3: 26,
	},
];

summa = 0 

for i in lst:
    for values in i.values():
        summa += values
        
print(summa)

177

Дан список:

[
	[1, 2, 3],
	[4, 5, 6],
	[7, 8, 9],
]
Слейте элементы этого списка в один одномерный список:

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
a = [
	[1, 2, 3],
	[4, 5, 6],
	[7, 8, 9],
]

b = []

for i in a:
    for j in i: 
        b.append(j)

print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Дан список:

[
	[2, 1, 4, 3, 5],
	[3, 5, 2, 4, 1],
	[4, 3, 1, 5, 2],
]
Отсортируйте элементы в каждом подсписке.

In [23]:
a = [
	[2, 1, 4, 3, 5],
	[3, 5, 2, 4, 1],
	[4, 3, 1, 5, 2],
]

for i in a: 
    i = i.sort()
    
print(a)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

Дан некоторый список, например, вот такой:

[1, 2, 3, 4, 5, 6]
Поменяйте местами пары элементов этого списка:

[2, 1, 4, 3, 6, 5]

In [ ]:
a = [1, 2, 3, 4, 5, 6]

for i in range(0, len(a), 2):
    a[i], a[i+1] = a[i+1], a[i]
print(a)

[1, 2, 3, 4, 5, 6]

Дана некоторая строка:

'1 22 333 4444 22 5555 1'
Удалите из этой строки все подстроки, в которых количество символов больше трех. В нашем случае должно получится следующее:

'1 22 333 22 1'

In [ ]:
string = '1 22 333 4444 22 5555 1'
lst1 = string.split(' ')
for i in lst1:
    if(len(i)) > 3:
        lst1.remove(i)
string = ' '.join(lst1)
print(string)

1 22 333 22 1

Дан некоторый список, например, вот такой:

[123, 456, 789]
Слейте все элементы этого списка в один список, разбив их посимвольно:

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
lst1 = [123, 456, 789]
lst2 = []
for i in lst1: 
    string = str(i)
    for j in string:
        lst2.append(j)
print(lst2)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

Дано некоторое число:

123456
Найдите сумму пар цифр этого числа. В нашем случае имеется ввиду следующее:

12 + 34 + 56

In [44]:
a = 123456
lst1 = [i for i in str(a)]

summa = 0
for i in range(0, len(lst1)-1, 2):
    string = lst1[i] + lst1[i+1]
    numb = int(string)
    summa += numb 
    
print(summa)

102

Дана некоторая строка с числом:

'1234567'
Отделите тройки цифр пробелами, начиная с конца числа. В нашем случае должно получится следующее:

'1 234 567'

In [61]:
a = '1234567'
a = a[::-1]
print(a)
b = ''
count = 0 
for i in a:
    count += 1
    b += i 
    if count % 3 == 0 and count != 0: 
        b += ' '
print(b[::-1])

7654321
1 234 567

Сделайте функцию, которая параметром будет принимать список и элемент и возвращать следующий за ним элемент. Смотрите пример:

lst = [1, 2, 3, 4, 5];

func(lst, 1); // 2
func(lst, 4); // 5
func(lst, 5); // 1

In [63]:
lst = [1, 2, 3, 4, 5]

def func(lst: list[int], num: int) -> int: 
    for i in range(len(lst)-1):
        if lst[i] == num:
            return lst[i+1]
    return None 

print(func(lst, 2))

3

Сделайте функцию, которая параметром будет принимать число, а возвращать сумму его делителей.

In [66]:
a = 10 

def func(a: int) -> int:
    sum = 0
    for i in range(1, a):
        if a % i == 0:
            sum += i 
    return sum 

print(func(a))

8

Сделайте функцию, которая параметром будет принимать число и удалять из него нули.

In [69]:
a = 10100

def func(a: int) -> int: 
    str_a = str(a)
    str_a = str_a.replace('0', '')
    return int(str_a)
print(func(a))

11

Сделайте функцию, которая параметром будет принимать список и удалять из него все дубли, которые встречаются больше трех раз.

In [71]:
a = [0, 0, 1, 1, 1, 2, 3, 2, 4, 2, 9, 9, 9, 10]

def func(a: list[int]) -> list[int]:
    for i in a:
        if a.count(i) > 2:
            while i in a:
                a.remove(i)
    return a 

print(func(a))

[0, 0, 3, 4, 10]

Сделайте функцию, которая параметром будет принимать число и проверять, простое оно или нет.

In [74]:
a = 101

def func(a: int) -> bool:
    for i in range(1, a):
        if a % i == 0 and i != 1 and i != a:
            return False 
    return True 

print(func(a))

True

Сделайте функцию, которая параметром будет принимать список с числами и возвращать второе по величине число.

In [76]:
a = [0, 101, 20, 30, 45]

def func(a: list[int]) -> int:
    a.remove(max(a))
    return max(a)
    
print(func(a))

45

Сделайте функцию, которая параметром будет получать строку со словами, а возвращать строку в верхнем регистре, состоящую из первых букв слов.

In [82]:
a = "Всем привет как дела"

def func(a: str) -> str:
    lst1 = a.split(' ')
    ret = ''
    for i in lst1:
        ret += i.upper()[0]
    return ret 

print(func(a))

ВПКД

Сделайте функцию, которая параметром будет принимать список с числами и заменять каждое число на список его делителей.

In [84]:
a = [100, 10, 20]

def func(a: list[int]) -> list[list[int]]:
    main = []
    for i in a:
        sub = []
        for j in range(1, i):
            if i % j == 0:
                sub.append(j)
        main.append(sub)
    return main
        
print(func(a))

[[1, 2, 4, 5, 10, 20, 25, 50], [1, 2, 5], [1, 2, 4, 5, 10]]

Сделайте функцию, которая параметрами будет принимать любое количество чисел, а возвращать их сумму.

In [86]:
def func(*args):
    summa = 0
    for i in args: 
        summa += i 
    return summa 
 
print(func(10, 20 ,30, 40))

100